@charset "utf-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.t_myeong {
  font-family: "Nanum Myeongjo", serif;
}
body.fixed {
  height: 100vh;
  overflow: hidden;
}
.hide {
  display: none;
}
.wb {
  word-break: keep-all;
}

.mo_ver {
  display: none !important;
}
.container {
  min-width: 1440px;
  overflow: auto;
}

.inner {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.pd100 {
  padding: 0 100px;
}

/* TAB */
ul.tabs {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #777;
}

ul.tabs li {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 22px;
}
ul.tabs li.current {
  font-weight: bold;
  color: #191919;
}
ul.tabs li.current::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #e84c2c;
}

.tab_content {
  display: none;
}

.tab_content.current {
  display: inherit;
}
/* TAB End */
.bot_area {
  position: relative;
  padding-bottom: 222px;
}
.bot_area .box {
  position: relative;
  z-index: 1;
  border-radius: 0 0 91px 91px;
  box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to bottom, #fff, #fff 20%, #fff);
  margin-top: 50px;
  padding: 0 100px 96px;
}
.bot_area::after {
  content: "";
  width: 100%;
  height: 568px;
  background-color: #e84c2c;
  position: absolute;
  bottom: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
  padding: 0 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.header .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .gnb {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .gnb_link {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .gnb_link + .gnb_link {
  margin-left: 60px;
}
.header .gnb_link > a {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #191919;
  height: 36px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.header .gnb_link:hover > a {
  border-color: #707070;
}

.header .gnb_link .sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 212px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 16px 0;
  display: none;
}
.header .gnb_link:hover .sub {
  display: block;
}

.header .gnb_link .sub a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 39px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #191919;
  padding-left: 22px;
  padding-right: 26px;
}

.header .gnb_link .sub a::after {
  content: "";
  width: 6px;
  height: 10px;
  background: url(../../images/icon/.header/arrow1.png) no-repeat center / 100%;
}

.header .gnb_link .sub a:hover {
  background-color: rgba(70, 102, 171, 0.9);
  color: #fff;
}

.header .gnb_link .sub a:hover::after {
  background-image: url(../../images/icon/.header/arrow2.png);
}
.header .link_oth {
  font-size: 14px;
  font-weight: 300;
  color: #191919;
}

.header .mo_gnb {
  display: none;
}

.header .mo_gnb .mo_menu {
  font-size: 36px;
  cursor: pointer;
}
.header .mo_gnb .main_menu {
  position: fixed;
  top: 0;
  right: -320px;
  width: 100vw;
  max-width: 320px;
  height: 100vh;
  background: #fff;
  padding: 40px;
  overflow: auto;
  transition: all 1s;
}
.mo_gnb .main_menu.on {
  right: 0;
  box-shadow: 8px 8px 8px rgb(0 0 0 / 15%), 0 0 0 9999px rgb(0 0 0 / 70%);
}

.mo_gnb .main_menu .top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.mo_gnb .main_menu .top .sub_menu {
  display: flex;
}

.mo_gnb .main_menu .top .sub_menu li + li {
  border-left: 1px solid #d1d1d1;
  margin-left: 10px;
  padding-left: 10px;
}
.mo_gnb .main_menu .top .btn_close {
  font-size: 40px;
  cursor: pointer;
}
.mo_gnb .main_menu .links + .links {
  margin-top: 20px;
}
.mo_gnb .main_menu .links .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding: 10px 0;
  cursor: pointer;
}
.mo_gnb .main_menu .links .sub_menu {
  margin-top: 8px;
  display: none;
}
.mo_gnb .main_menu .links .sub_menu li a {
  line-height: 2;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* sub_bg */
body.sub {
  min-width: 1420px;
}
.sub .container {
  overflow: unset;
}
.bg_img {
  position: sticky;
  top: 80px;
  display: block;
  z-index: -1;
  height: 620px;
  background: url(../../images/bg/sub_bg1.png) no-repeat center / cover;
}
main {
  position: relative;
  padding-top: 80px;
  margin-top: -620px;
}

.sub_bg {
  height: 620px;
  overflow: hidden;
  padding: 17px 20px 53px;
}

.sub_bg .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 100px;
}
.sub_bg .sub_depth {
  font-size: 16px;
  color: #f0f0f0;
}
.sub_bg .sub_depth .under {
  font-weight: 500;
  text-decoration: underline;
}
.sub_bg .sub_depth em {
  margin: 0 20px;
  font-style: normal;
}
.sub_bg .bg_txt {
  font-size: 36px;
  letter-spacing: -1.08px;
  line-height: 1.4;
  color: #fff;
}
.sub_bg .bg_txt .sup {
  font-weight: 200;
}
.sub_bg .bg_txt h2 {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 59px;
  font-weight: bold;
  letter-spacing: -1.77px;
  text-align: left;
  color: #fff;
}
/* sub_nav */
.sub_nav {
  background: #fff;
}
.sub_nav .inner {
  max-width: none;
  background: #f8f8f8;
}
.sub_nav .links {
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #191919;
}
.sub_nav .links li {
  position: relative;
}
.sub_nav .links li + li {
  margin-left: 53px;
}
.sub_nav .links li.active::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e84c2c;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
}

.sec {
  background: #fff;
  padding-top: 112px;
}

.sec .tit_wrap {
  font-size: 24px;
  letter-spacing: -0.72px;
  color: #191919;
  display: flex;
  align-items: flex-end;
  padding: 0 100px;
}
.sec .tit_wrap h3 {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -1.32px;
  margin-right: 17px;
}
.sec .tit_wrap h4 {
  position: relative;
  font-weight: bold;
  letter-spacing: -0.72px;
  padding-left: 16px;
}
.sec .tit_wrap h4::before {
  content: "";
  width: 4px;
  height: 24px;
  background-color: #e84c2c;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

/* quick */
.quick {
  position: fixed;
  top: 50%;
  right: 36px;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}
.quick.mo {
  display: none;
}
.quick ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.quick li {
  position: relative;
}
.quick li + li {
  margin-top: 40px;
}
.quick .btn {
  width: 62px;
  height: 62px;
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.54px;
  text-align: center;
  color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.quick .btn.q1 {
  background-color: #e9cd14;
}
.quick .btn.q2 {
  background-color: #e84c2c;
}
.quick .btn.q3 {
  background-color: #3da84c;
}
.quick.pc .btn:hover {
  transition: width 0.3s ease;
}
.quick.pc .btn.q4:hover {
  transition: width 0.5s ease;
}
.quick.pc .btn.q3:hover {
  width: 300px;
}
.quick.pc .btn.q4:hover {
  padding-right: 40px;
}
.quick.pc .btn.q5:hover {
  justify-content: flex-start;
}

.quick.pc .btn.q5:hover {
  width: 198px;
}

.quick .btn .icon {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quick .btn .txt {
  width: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  line-height: 1.4;
}

.quick.pc .btn:hover .txt {
  width: auto;
  opacity: 1;
  transition: opacity 1s;
}
.quick small {
  position: absolute;
  top: calc(100% + 5px);
  right: -7px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.42px;
  color: #404040;
  width: 76px;
  display: block;
  text-align: center;
}
.quick li:nth-child(1) small {
  color: #e9cd14;
}
.quick li:nth-child(3) small {
  color: #464646;
}
.quick li:nth-child(4) small {
  color: #505050;
}
.quick li:nth-child(5) small {
  color: #4d4d4d;
}
.quick li:hover small {
  opacity: 0;
  transition: all 0.5s ease;
}
.quick .btn.q4 a {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.45px;
  text-align: center;
  color: #fff;
}

.quick .btn.q4 a + a {
  position: relative;
  margin-left: 18px;
  padding-left: 18px;
}

.quick .btn.q4 a + a::before {
  content: "";
  width: 1px;
  height: 34px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
.quick .btn.sns {
  background-color: rgba(55, 55, 55, 0.5);
  text-align: center;
}
.quick .btn.sns .name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.54px;
  text-align: center;
  color: #fff;
}
.quick.pc .btn.sns:hover .name {
  display: none;
}
.quick .btn.sns a {
  display: none;
}
.quick.pc .btn.sns:hover {
  width: 249px;
  background-color: #1a1a1a;
  padding: 0 26px 0 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quick.pc .btn.sns:hover a {
  display: block;
}

.quick .btn_top {
  width: 59px;
  height: 59px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.78);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-top: 27px;
}

.footer {
  background: #fff;
}
.footer * {
  font-family: "NanumSquareRound";
}
.footer .fo_nav {
  height: 54px;
  border-top: 1px solid #797676;
  border-bottom: 1px solid #797676;
}

.footer .fo_nav .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #000;
}

.footer .fo_nav .left {
  display: flex;
  align-items: center;
}

.footer .fo_nav .left li {
  position: relative;
}

.footer .fo_nav .left li + li {
  margin-left: 40px;
  padding-left: 40px;
}

.footer .fo_nav .left li + li::before {
  content: "";
  width: 1px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  background-color: #dbdbdb;
}
.footer .fo_nav .left li:last-child a {
  color: #3317f2;
}
.footer .fo_nav .right {
  padding-right: 130px;
}
.footer .inner.bot {
  padding: 36px 0 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .inner.bot .logo {
  margin-bottom: 30px;
}
.footer .inner.bot dl {
  font-size: 13px;
  letter-spacing: -0.33px;
  text-align: left;
  color: #191919;
}
.footer .inner.bot dl dt {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #191919;
  margin-bottom: 8px;
}
.footer .inner.bot dl .copy {
  letter-spacing: normal;
  margin-top: 30px;
}

.footer .inner.bot dl .copy span + span {
  margin-left: 20px;
}
.footer .inner.bot .right.mo_ver {
  display: none;
}
.footer .inner.bot .right .tel {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #191919;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 56px;
}

.footer .inner.bot .right .tel span + span {
  margin-top: 7px;
}
.footer .inner.bot .right .time {
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: -0.65px;
  color: #191919;
}

@media all and (max-width: 768px) {
  .mo_ver {
    display: block !important;
  }

  .pc_ver {
    display: none !important;
  }
  .pd100 {
    padding: 0 80px;
  }
  ul.tabs li {
    font-size: 16px;
    padding-bottom: 16px;
  }
  .bot_area {
    padding-bottom: 100px;
  }
  .bot_area .box {
    width: calc(100vw - 40px);
    margin: auto;
    margin-top: 30px;
    padding: 0 40px 80px;
  }
  .bot_area::after {
    height: 400px;
  }
  .header .gnb,
  .header .link_oth {
    display: none;
  }
  .header .mo_gnb {
    display: block;
  }
  .header .mo_gnb .mo_menu {
    font-size: 36px;
  }
  .container {
    min-width: auto;
    max-width: 100vw;
  }
  .inner {
    width: 100%;
    max-width: none;
  }
  /* sub_bg */
  body.sub {
    min-width: auto;
  }

  .bg_img {
    height: 400px;
  }

  main {
    padding-top: 80px;
    margin-top: -400px;
  }

  .sub_bg {
    height: 400px;
    padding: 16px 0 40px;
  }
  .sub_bg .inner {
    padding: 0 50px;
  }
  .sub_bg .sub_depth {
    font-size: 14px;
  }
  .sub_bg .sub_depth em {
    margin: 0 16px;
  }
  .sub_bg .bg_txt {
    font-size: 24px;
  }
  .sub_bg .bg_txt h2 {
    font-size: 40px;
  }
  /* sub_nav */
  .sub_nav .inner {
    max-width: 500px;
    height: 36px;
    position: relative;
  }
  .sub_nav .inner::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0%, -50%);
    z-index: 1;
  }

  .sub_nav .links {
    height: auto;
    background: #f8f8f8;

    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .sub_nav .links li {
    width: 100%;
    text-align: center;
    min-height: 36px;
    align-items: center;
    padding: 0 16px;
    display: none;
  }
  .sub_nav .links li:first-child {
    display: flex;
  }
  .sub_nav .show .links li {
    display: flex;
  }
  .sub_nav .links li + li {
    margin-left: 0;
  }
  .sub_nav .links li.active a {
    color: #e84c2c;
  }
  .sub_nav .links li.active::before {
    display: none;
  }

  .sec .tit_wrap {
    font-size: 20px;
    padding: 0 50px;
  }
  .sec .tit_wrap h3 {
    font-size: 36px;
    margin-right: 12px;
  }

  .footer .fo_nav .inner {
    padding: 0 20px;
  }

  .footer .fo_nav .left li + li {
    margin-left: 16px;
    padding-left: 16px;
  }
  .footer .fo_nav .right {
    padding-right: 0;
  }
  .footer .inner.bot {
    padding: 30px 20px 60px;
  }

  .footer .inner.bot dl dt {
    font-size: 16px;
  }
  .footer .inner.bot dl .copy {
    display: flex;
    flex-direction: column;
  }

  .footer .inner.bot dl .copy span + span {
    margin-left: 0;
    margin-top: 6px;
  }
  .footer .inner.bot .right .tel {
    font-size: 16px;
    margin-bottom: 44px;
  }

  .footer .inner.bot .right .time {
    font-size: 12px;
  }
}

@media all and (max-width: 540px) {
  .pd100 {
    padding: 0 20px;
  }
  ul.tabs li {
    font-size: 14px;
    padding-bottom: 12px;
  }
  .bot_area .box {
    padding: 0 20px 50px;
    border-radius: 0 0 46px 46px;
  }
  .bot_area::after {
    height: 300px;
  }
  .header {
    height: 60px;
  }
  .header .mo_gnb .mo_menu {
    font-size: 30px;
  }
  .header .mo_gnb .main_menu {
    padding: 32px;
  }
  .header .mo_gnb .main_menu .top .btn_close {
    font-size: 30px;
  }
  /* sub_bg */
  .bg_img {
    top: 60px;
    height: 300px;
  }
  main {
    padding-top: 60px;
    margin-top: -300px;
  }

  .sub_bg {
    height: 300px;
    padding: 16px 0 30px;
  }
  .sub_bg .inner {
    padding: 0 20px;
  }

  .sub_bg .sub_depth {
    font-size: 12px;
  }

  .sub_bg .sub_depth em {
    margin: 0 10px;
  }
  .sub_bg .bg_txt {
    font-size: 16px;
  }
  .sub_bg .bg_txt h2 {
    font-size: 32px;
  }
  /* sub_nav */
  .sub_nav .links {
    font-size: 14px;
  }

  .sec .tit_wrap {
    font-size: 16px;
    padding: 0 20px;
  }
  .sec .tit_wrap h3 {
    font-size: 28px;
    margin-right: 10px;
  }
  .sec .tit_wrap h4 {
    padding-left: 12px;
  }
  .sec .tit_wrap h4::before {
    height: 20px;
  }
  .footer .fo_nav {
    height: auto;
    padding: 16px 0;
  }

  .footer .fo_nav .inner {
    align-items: flex-start;
    flex-direction: column;
  }

  .footer .fo_nav .left {
    width: 100%;
    justify-content: space-between;
  }

  .footer .fo_nav .left li + li {
    margin-left: 0;
    padding-left: 0;
  }

  .footer .fo_nav .left li + li::before {
    display: none;
  }

  .footer .fo_nav .right {
    margin: 8px auto 0;
  }
  .footer .inner.bot {
    flex-direction: column;
  }
  .footer .inner.bot .logo {
    margin-bottom: 24px;
  }
  .footer .inner.bot dl .copy {
    margin-top: 24px;
  }

  .footer .inner.bot .right.pc_ver {
    display: none;
  }
  .footer .inner.bot .right.mo_ver {
    display: block;
    margin-bottom: 20px;
  }
  .footer .inner.bot .right .tel {
    margin-bottom: 30px;
  }
}
