@media all and (max-width: 540px) {
  .con::before {
    height: 200px;
    background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.89) 51%, rgba(255, 255, 255, 0.58) 84%, rgba(255, 255, 255, 0));
    z-index: 1;
  }
  .con::after {
    height: 200px;
  }
  .con .tit_wrap {
    padding: 40px 20px;
  }

  .c_con {
    width: 100%;
    padding: 0 0 40px;
  }
  .c_main {
    min-width: 318px;
    max-width: 350px;
    margin-bottom: 40px;
    width: calc(100% / 1);
  }

  /* c_main */
  .c_sub {
    padding-bottom: 20px;
  }
  .c_tit {
    min-height: 0;
  }
  .c_tit > h3 {
    font-size: 18px;
  }
  .c_tit > small {
    font-size: 12px;
    letter-spacing: -0.8px;
  }
  .c_info {
    min-height: 0;
    padding: 20px;
  }
  .c_wd {
    font-size: 14px;
  }
  .c_link {
    font-size: 14px;
  }
}
