@media all and (max-width: 540px) {
  .sec {
    padding-bottom: 80px;
  }

  .con_bg {
    height: 250px;
  }

  ul.tabs {
    margin: 0 auto 40px;
  }

  .tit_wrap.t1 {
    margin-bottom: 50px;
  }

  .tit_wrap.t2 {
    font-size: 20px;
  }

  .tit_wrap.t2 .link {
    font-size: 16px;
  }
  .tit_wrap.t2 .link > a {
    font-size: 14px;
    margin-top: 0;
  }

  .t_img {
    padding: 0 20px;
    margin: 12px 0 0;
    width: 100%;
  }
  .t_img .bg {
    display: none;
  }

  .col + .col {
    margin-top: 50px;
  }

  .links {
    flex-direction: column;
  }

  .links a {
    max-width: 300px;
    width: calc(100vw - 40px);
  }

  .links a + a {
    margin-left: 0;
    margin-top: 10px;
  }
  .links a > .cen {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    font-size: 28px;
    /* font-weight: bold; */
    /* letter-spacing: -1.2px; */
    /* color: #191919; */
  }

  .links a > .cen {
    /* line-height: 1.4; */
  }

  .links a > small {
    /* position: absolute; */
    /* bottom: 20%; */
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
    /* font-size: 20px; */
    /* letter-spacing: -0.6px; */
    /* text-align: left; */
    /* color: #373737; */
  }
}
