@import url(./content2_1.css);
.sec2 .page_tit h2 {
  font-size: 30px;
}
.sec2 .bot_area .box {
  margin-top: 100px;
}
.sec2 .bot_area .tab_contents {
  padding-top: 0;
}
.sec2 .desc_row .desc.idt {
  text-indent: -86px;
  padding-left: 86px;
}
.sec2 .tit_wrap .img_1_1 {
  margin-top: 40px;
}

.sec4 {
  padding-top: 100px;
}
.sec4 .bot_area .box {
  margin-top: 0;
}
.sec4 ul.tabs {
  justify-content: center;
  margin-bottom: 90px;
}
.sec4 ul.tabs li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 768px) {
  .sec2 .page_tit h2 {
    font-size: 22px;
    text-align: left;
  }
  .sec2 .page_tit h2 br {
    display: none;
  }
  .sec2 .bot_area .box {
    margin-top: 50px;
  }
  .sec2 .desc_row .desc.idt {
    text-indent: -59px;
    padding-left: 59px;
  }
  .sec2 .tit_wrap .img_1_1 {
    margin-top: 20px;
  }
}

@media all and (max-width: 540px) {
  .sec2 .page_tit h2 {
    font-size: 18px;
  }
  .sec2 .bot_area .box {
    margin-top: 30px;
  }
}
