body {
  /* overflow-x: hidden; */
  background: white;
}

body.before-load {
  overflow: hidden;
}

.scroll-section {
  position: relative;
  padding: 100px;
  background: #fff;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
  transform: translate(0%, -50%);
  opacity: 0;
}
.main-message p {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.description {
  color: #888;
  font-size: 50px;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}
.sticky-elem.bottom {
  position: absolute;
  top: unset !important;
  bottom: 0;
}
.sticky-elem .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sticky-elem.f {
  top: 0;
}
.sticky-elem.f .inner {
  height: 100vh;
  display: none;
}
.sticky-elem.f .inner.show {
  display: flex;
  width: 100vw;
  margin: 0;
  max-width: none;
}
.sticky-elem.f a {
  max-width: 600px;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  border: solid 1px #fff;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.75px;
  text-align: left;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 46px 0 35px;
}
.sticky-elem.f a + a {
  margin-top: 28px;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}
.scroll-effect-end .sticky-elem {
  /* 스크롤 효과가 모두 끝나고, 아래 일반 콘텐츠 영역에서는 sticky-elem들을 모두 안보이도록 */
  display: none !important;
}
.sticky-elem-video {
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--full-height, 100vh);
  mix-blend-mode: multiply;
}
.sticky-elem-video .video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.before-load .container {
  display: none;
}

@media all and (max-width: 768px) {
}
