@media all and (max-width: 768px) {
}

body {
  /* overflow-x: hidden; */
  background: white;
}

body.before-load {
  overflow: hidden;
}
header {
  display: none;
}
header.on {
  display: block;
}
.container {
  overflow: hidden;
}
.scroll-section {
  position: relative;
  padding: 100px;
  background: #fff;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
  transform: translate(0%, -50%);
  opacity: 0;
}
.main-message p {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.description {
  color: #888;
  font-size: 50px;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}
.sticky-elem.bottom {
  position: absolute;
  top: unset !important;
  bottom: 0;
}
.sticky-elem .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sticky-elem.f {
  top: 0;
}
.sticky-elem.f .inner {
  height: 100vh;
  display: none;
}
.sticky-elem.f .inner.show {
  display: flex;
  width: 100vw;
  margin: 0;
  max-width: none;
}
.sticky-elem.f a {
  max-width: 600px;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  border: solid 1px #fff;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.75px;
  text-align: left;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 46px 0 35px;
}
.sticky-elem.f a + a {
  margin-top: 28px;
}
.sticky-elem.f a::after {
  content: "";
  width: 12px;
  height: 21px;
  background: url(../../images/icon/main_arrow1.png) no-repeat center / 100%;
}
.sticky-elem.f a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}
.scroll-effect-end .sticky-elem {
  display: none !important;
}
.sticky-elem-video {
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--full-height, 100vh);
  mix-blend-mode: multiply;
}
.sticky-elem-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.sticky-elem-video .video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.before-load .container {
  display: none;
}

/* video_list */
#scroll-section-1 {
  padding: 0;
}
.video_list {
  padding: 120px 20px;
}
.video_list .col + .col {
  margin-top: 120px;
}
.video_list h2,
.board_list h2 {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -1.38px;
  color: #191919;
  margin-bottom: 27px;
}
.video_list .box {
  position: relative;
  height: 550px;
  border-radius: 40px;
  overflow: hidden;
}

.video_list .video_wrap video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video_list .txt {
  position: absolute;
  top: 66px;
  left: 80px;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: -0.75px;
  line-height: 32px;
  color: #191919;
}

.video_list .txt h3 {
  font-size: 36px;
  line-height: 52px;
  font-weight: bold;
  letter-spacing: -1.08px;
}

.video_list .bar {
  width: 100%;
  position: absolute;
  bottom: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_list .bar li {
  position: relative;
  width: calc(100% / 4);
  max-width: 236px;
  height: 3px;

  overflow: hidden;
}
.video_list .bar li::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #707070;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}
.video_list .bar li + li {
  margin-left: 40px;
}

.video_list .bar li .in {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(0%, -50%);
  width: 100%;
  height: 3px;
  background-color: red;
  /* background-color: #707070; */
}

.video_list .bar li.on .in {
  left: 0;
  transition: left 4s linear;
}

/* board_list */
.board_list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 100px;
}
.board_list .inner {
  margin: 0;
}
.board_list .swiper-slide {
  width: auto;
  max-width: 380px;
}

.board_list .card {
  border-radius: 40px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.board_list .card .img_wrap {
  height: 286px;
  overflow: hidden;
}

.board_list .card .desc {
  padding: 46px 22px 60px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.6px;
  text-align: left;
  color: #191919;
  line-height: 29px;
}

.board_list .card .desc .bo_tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
